.create-new-blog {
  padding: 3rem 0;
  max-width: var(--padded-width);
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .create-new-blog {
    padding: 3rem 1rem;
  }
}

.create-new-blog__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.375rem;
}

@media screen and (max-width: 800px) {
  .create-new-blog__upper {
    margin-bottom: 1.5rem;
  }
}

.create-new-blog__upper__left > a {
  margin-left: -0.125rem;
  padding-top: 0.5rem;
}

.create-new-blog__upper__left-svg {
  margin-right: 1rem;
}
.create-new-blog__upper__left-text {
  font-size: var(--new-blog-input-ft-size);
  line-height: 2.25rem;
  font-weight: 600;
}

.blog-btns {
  font-weight: 600;
  border-radius: 0.375rem;
  font-size: var(--new-blog-dialog-caption-ft-size);
  padding: 0.5rem 0.75rem;
  font-family: Poppins;
}

.blog-btns:hover {
  cursor: pointer;
  color: var(--hover-color);

  transition: color ease 0.25s;
}

.create-new-blog__upper__right__btn_1 {
  border: 2px solid var(--yellow-primary);
  margin-right: 2.25rem;
}

.create-new-blog__upper__right__btn_2 {
  padding: 0.625rem 2rem;
}

@media screen and (max-width: 1100px) {
  .create-new-blog__upper__left-svg {
    margin-right: 0.25rem;
  }
  .blog-btns {
    padding: 0.25rem 0.5rem;
  }
  .create-new-blog__upper__right__btn_1 {
    margin-right: 0.5rem;
  }
  .create-new-blog__upper__right__btn_2 {
    padding: 0.375rem 1.5rem;
  }
}

.create-new-blog__form__input-text {
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: var(--new-blog-input-bg);
  font-family: Poppins;
  font-size: var(--new-blog-input-ft-size);
  border-radius: 1.25rem;
  border: none;
  outline: none;
  margin-bottom: 1rem;
}

.create-new-blog__form__input-upload__wrapper {
  background-color: var(--new-blog-input-bg);
  border-radius: 1.25rem;
  padding: 1.125rem 1.5rem;
  position: relative;
  margin-bottom: 1rem;
}

.create-new-blog__form__input-upload__caption {
  margin-bottom: 2rem;
  font-size: var(--new-blog-input-ft-size);
}

.create-new-blog__form__input-upload__input_dialog {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.create-new-blog__form__input-upload__input_dialog > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.create-new-blog__form__input-upload__input_dialog > div > svg {
  margin-bottom: 1rem;
}
.create-new-blog__form__input-upload__input_dialog > div > .dialog__caption {
  margin-bottom: 1rem;
  font-size: var(--new-blog-dialog-caption-ft-size);
}

.create-new-blog__form__input-upload__input > input[type='file'] {
  display: None;
}

.create-new-blog__form__input-upload__input {
  cursor: pointer;
  border-radius: 0.625rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.prompt {
  margin-bottom: 0;
  position: absolute;
  bottom: 1.75rem;
}
.create-new-blog__input-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-new-blog__input-value > p {
  font-size: 1rem;
}

.create-new-blog__input-value > svg {
  cursor: pointer;
}

.upload-error {
  margin-bottom: 0;
  font-weight: 600;
  color: var(--error-color);
}

.create-new-blog__blog-content__wrapper {
  display: flex;
  justify-content: space-between;
}

.create-new-blog__form__textarea {
  resize: none;
  font-size: 1rem;
  height: 100vh;
  padding: 1.5rem 1.5rem;
  margin-right: 1rem;
  flex: 1;
}

.create-new-blog__blog-content__markdown {
  flex: 1;
  border-radius: 1.25rem;
  padding: 1.5rem 1.5rem;
  background-color: var(--new-blog-input-bg);
}

.preview-image-wrapper {
  width: 40%;
  display: inline-block;
  padding: 0.875rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FFAE00FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
@media screen and (max-width: 1100px) {
  .preview-image-wrapper {
    width: 100%;
  }
}

.preview-image-wrapper > p {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: var(--new-blog-input-ft-size);
}

.preview-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 50vh;

  animation: increase-height ease 1s;
}

@keyframes increase-height {
  0% {
    height: 0px;
  }
  100% {
    height: 50vh;
  }
}
