* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Poppins;
  --new-blog-input-bg: #ececec;
  --new-blog-input-ft-size: 1.4375rem;
  --new-blog-dialog-caption-ft-size: 1.25rem;
  --yellow-primary: #ffae00;
  --hover-color: #777;
  --error-color: #ee0000;
  --padded-width: calc(1440px - 3rem);
}
@media screen and (max-width: 1100px) {
  :root {
    --new-blog-input-ft-size: 1rem;
    --new-blog-dialog-caption-ft-size: 0.875rem;
  }
}

#nav {
  position: sticky;
}

body {
  font-family: Poppins;
  background-color: #f3f3f3;
  font-family: Poppins;
}

a {
  text-decoration: none;
  color: #000;
}

#overlay {
  z-index: 10;
  background-color: black;
  opacity: 80%;
  height: 100%;
  width: 100%;
}

#login-prompt {
  align-self: center;
  justify-self: center;
}
