* {
  margin: 0;
  padding: 0;
}

#nav {
  position: sticky;
}

body {
  background-color: #f3f3f3;
  font-family: Poppins;
}

a {
  text-decoration: none;
  color: #000;
}

#overlay {
  z-index: 10;
  background-color: black;
  opacity: 80%;
  height: 100%;
  width: 100%;
}

#login-prompt {
  align-self: center;
  justify-self: center;
}
