* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Poppins;
  --new-blog-input-bg: #ececec;
  --new-blog-input-ft-size: 1.4375rem;
  --yellow-primary: #ffae00;
  --hover-color: #777;
  --error-color: #ee0000;
}
body {
  font-family: Poppins;
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
  color: #000;
}
