.modal-prompt {
    position: fixed;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 476px;
    height: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    margin-top: 40px;
    margin-left: 20px;
    opacity: 100%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 0.5s;
    z-index: 20;
}

.modal-prompt-inactive {
    display: none;
}

#error-box-close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}